node_modules/
*/node_modules
dist/
*/dist

# Ignore all .env files
.env.dev
*/.env.dev

# But specifically allow .env.example if you have one
!.env.example
!.env.test

.DS_Store
*.log
coverage/
.idea/
.vscode/